.first,
.sec {
  font-size: 28px;
  font-family: Helvetica, "Times New Roman", sans-serif;
}

.first {
  background-color: black;
  color: #fff;
}

.sec {
  background-color: yellow;
  color: black;
}
